*{margin: 0;
padding: 0;
box-sizing: border-box;}

body{
    font-family: 'poppins', sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main{flex: 1 0 auto;}

footer{flex-shrink: 0;}

/* VARIAVEIS */
:root{
    /* MODO CLARO */
    --corPrincipal:#049DD9;
    --corSecundaria:#F27B35;
    /* MODO ESCURO */
    --corPrincipalDark:#003246;
}

.navbar-toggler:focus{box-shadow: none;}

.bgcnav,
.colapseCor{background: var(--corPrincipal);}

.logonav{height: 40px; }

#data{
    font-size: 14px;
    color: #fff;
}

.bgcfooter{background-color: var(--corPrincipal);}

/* BOTÃO ENVIAR */
.color-btn{
    display: flex;
    justify-content: center;
    background-color: var(--corSecundaria);
    border: none;
    text-decoration: none;
}
.color-btn:hover{outline: 1px solid var(--corSecundaria);}
.color-btn:active{transform: scale(0.96);}

/* ************************ */

.fa-brands{
    margin-top: 8px;
    border:2px solid white;
    border-radius: 50%;
    padding: 5px;
    background-color: white;
}
hr{
    width: 90%;
    margin-left: 5%;
    color: white;
}
.navbar-toggler{border:none;}
.form-check-input:checked {background-color: var(--corSecundaria);}

/************ redirecional***************/
.voltar{
    width: 80%;
    background: #049DD9;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #f3f3f3;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}
.AbrirNotificacao{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.voltar img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px #6d6c6c;
}
.voltar h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}
.voltar .btn{
    width: 100%;
    margin-top: 20%;
    padding: 10px 0;
    background-color: var(--corSecundaria);
    color: #fff;
    border: o;
    outline: none;
    font-size: 18px;
    box-shadow: 0 5px 5px #6d6c6c;
}
/* ********************************** */

/* MODO ESCURO */

.dark .colapseCor{background-color: var(--corPrincipalDark);}

.dark .bgcfooter{background-color: var(--corPrincipalDark);}
.dark .bgcnav{background-color: var(--corPrincipalDark);}
body.dark{background-color: var(--corPrincipalDark);}
.dark h1,
.dark p,
.dark #restante{color: #fff;}
.dark .tabela th,
.dark .tabela td {
    padding: 8px;
    text-align: left;
    color: #fff;
}
  
.dark .tabela th {
    background-color: var(--corSecundaria);
    font-weight: bold;
    color: #fff;
}

.dark .tabela td { background-color: var(--corPrincipalDark);
}

/* ********************** */
.active>.page-link{
    background-color: var(--corPrincipal);
    border: none;
}

.page-link{color: var(--corPrincipal);}



/* **************************************** */



/* BOTAO MODO ESCURO*/
.container-modo-dark{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    margin: 10px;
    border: 1px solid #F27B35;
    background-color: #fff;
    border-radius: 50px;
    cursor: pointer;
    
    display: flex;
    align-items: start;
    justify-content: space-between;

    padding: 5px;
    position: relative;
    height: 21px;
    width: 45px;

    transform: scale(1.5);
}

.label .ball {
    background-color: var(--corSecundaria);
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;

    height: 15px;
    width: 15px;

    transform: translateX(0px);
    transition: transform 0.2s linear;
}
.checkbox:checked+.label .ball {transform: translate(24px);}

#mensagem{
    resize: none;
}

/* ********************************************************** */

/* TABLET */

@media(min-width:768px) and (max-width:1023px){
    main{
        height:72%;
    }    
}

/* DESKTOP */

/* @media screen and (min-width:1024px){
    main{
        width: 50%;
    }
      
} */


/* ANIMAÇÃO DE CARREGAMENTO */

.loader {
    margin-right: 5px;
    border: 4px solid #f3f3f3;
    border-top: 4px solid var(--corSecundaria);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 0.8s linear infinite;
    display:none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
    


  