*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* VARIAVEIS */
:root{
    /* MODO CLARO */
    --corPrincipal:#049DD9;
    --corSecundaria:#F27B35;
    /* MODO ESCURO */
    --corPrincipalDark:#003246;
}
    
body{
    font-family: 'poppins', sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: rgb(16,98,131);
    background: radial-gradient(circle, rgba(16,98,131,1) 0%, rgba(4,157,217,1) 100%);
}
.logo{
    width: 30%;
}
/* ANIMAÇÃO DE CARREGAMENTO */

.loader {
    margin-right: 5px;
    border: 4px solid #f3f3f3;
    border-top: 4px solid var(--corSecundaria);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 0.8s linear infinite;
    display:block;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
    

    
main{flex: 1 0 auto;}
    
footer{flex-shrink: 0;}
    

    